.menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 550px;
  
}

.btn-menu {
  font-size: 1rem;
  font-weight: 700;
  width: 220px;
  height: 60px;
  border-radius: 40px;
  margin: 5px;
  border: none;
  box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.74);
}

.btn-pikachu {
  background-color: #FFFC22;
}

.img-menu {
  width: 12.5rem;
  margin-top: 2rem;
}