.menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: blueviolet;
  width: 250px;
  height: 500px;
  
}

.btn-menu {
  
  width: 180px;
  height: 60px;
  border-radius: 40px;
  margin: 5px;

}